.profile {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin-bottom: 10px;
    padding: 20px;
}

.photo {
    margin-right: 20px;
    width: 30%;
    align-self: flex-start;
}

.noposts {
    text-align: center;
}

.description {
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
    overflow-x: hidden;
}

.infoPanel {
    flex-grow: 1
}