.icon {
    align-self: start;
    width: 20px;
    margin: 0 20px 0 0;
    color: #7d97a5;
}

.description {
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
    overflow-x: hidden;
}

.contacts {
    margin-top: 26px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding: 14px 8px 4px 8px;
}

.link {
    display: block;
    margin: 2px;
}

.iconContact {
    display: block;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.contacts::before {
    content: "Мои контакты и соц. сети";
    font-size: 12px;
    line-height: 12px;
    left: 8px;
    top: -10px;
    position: absolute;
    display: block;
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
} 