.navbar {
    display: flex;
    grid-column: 1 / span 2;
    background: #4d636f;
    justify-content: space-between;
}

.left {
    display: flex;
}

.link {
    display: block;
    padding: 8px 24px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.link:hover {
    background: white;
    color: black;
}

.link:first-child:hover {
    background: #4d636f;
    color: white;
}

.icon {
    width: 24px;
    height: 24px;
}

.logo {
    margin: 0 0 0 10px;
    font-size: 22px;
    line-height: 0;
    text-transform: uppercase;
}

.avatar {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 0;
    margin: 0;
}