.wrapper {
  display: grid;
  grid-template-areas: 
    'navbar navbar navbar navbar navbar navbar navbar'
    'sidebar main main main main main main';
  gap: 10px;
  max-width: 990px;
  margin: 0 auto;
}